!!!

%html
  %head
    %meta{ 'http-equiv' => 'content', 'content' => 'text/html; charset=utf-8'}
    %link{:rel => :stylesheet, :href => "./bootstrap/css/bootstrap.min.css"}
    %link{:rel => :stylesheet, :href => "./bootstrap/css/bootstrap-theme.min.css"}
    %link{:rel => :stylesheet, :href => "./custom.css"}
    %title="tb platform"

  %body
    #wrap
      .navbar
        .navbar-inner
          %a.brand{ :href => "#" } Bank consuite
          %ul.nav.pull-right
            %li
              %a{ :href => "#" } Logout


      .span3
        %ul.nav.nav-list.well
          %li.nav-header menu
          %li
            %a{ :href => "#" } menu1
            %ul
              %li
                %a{ :href => "#" } sub menu1
          %li
            %a{ :href => "#" } menu2

      .span12
        %h1 Graph area
        .row
          .span4#line_graph
            line_graph
          .span4#bar_graph
            bar_graph
          .span4#filter_table
            line_graph2
        .row
          .span6
            line_graph
          .span6
            bar_graph

    #footer
      .container
        %p.muted-credit ITP@2014


    %script{ :src => './jquery.min.js' }
    %script{ :src => './d3.v3.min.js' }
    %script{ :src => './bootstrap/js/bootstrap.min.js' }


:javascript
  // It shows weekly data
  var dataset = [ 5, 10, 13, 19, 21, 25, 22 ];
  var width = 300;
  var height = 150;
  var axiPadding = 30;
  var padding = 1;

  // x軸の定義
  var xScale = d3.scale
                 .linear()
                 .range([0, width]).nice();

  var xAxis = d3.svg.axis().scale(xScale).orient("bottom");

  // y軸の定義
  var yScale = d3.scale.linear().range([height, 0]).nice();
  var yAxis = d3.svg.axis().scale(yScale).orient("left");

  // グラフ領域の確保
  var bar_graph_svg = d3.select("div#line_graph")
                        .append("svg")
                        .attr("width", width)
                        //.attr("width", function(d) { return xScale[d]; })
                        .attr("height", height);

  // グラフ部分の描画
  bar_graph_svg.selectAll("rect")
                .data(dataset)
                .enter()
                .append("rect")
                .attr("x", function(d,i) {
                  return i * (width / dataset.length);
                })
                .attr("y", function(d, i) {
                  return height - (d * 4);
                })
                .attr("width", width / dataset.length - padding)
                .attr("height", function(d) {
                  return (d * 4) - axiPadding;
                })
                .attr("fill", "#e67e22");
  // x軸の描画
  bar_graph_svg.append("g")
               .attr("class", "axis")
               .attr("transform", "translate(0, " + (height - axiPadding) + ")")
               .call(xAxis);

  // y軸の描画
  bar_graph_svg.append("g")
             .attr("class", "axis")
             .attr("transform", "translate(" + axiPadding + ",0 )")
             .call(yAxis);
