!!!

%html
  %head
    %meta{ 'http-equiv' => 'content', 'content' => 'text/html; charset=utf-8'}
    %link{:rel => :stylesheet, :href => "./bootstrap/css/bootstrap.min.css"}
    %link{:rel => :stylesheet, :href => "./bootstrap/css/bootstrap-theme.min.css"}
    %title="tb platform"

  %body
    .navbar
      .navbar-inner
        %a.brand{ :href => "#" } Bank consuite
        %ul.nav.pull-right
          %li
            %a{ :href => "#" } Logout


    .span3
      %ul.nav.nav-list.well
        %li.nav-header menu
        %li
          %a{ :href => "#" } menu1
          %ul
            %li
              %a{ :href => "#" } sub menu1
        %li
          %a{ :href => "#" } menu2

    .span9
      %h1 Graph area


    %script{ :src => './jquery.min.js' }
    %script{ :src => './d3.v3.min.js' }
    %script{ :src => './bootstrap/js/bootstrap.min.js' }
