!!!

%html
  %head
    %meta{ 'http-equiv' => 'content', 'content' => 'text/html; charset=utf-8'}
    %link{:rel => :stylesheet, :href => "./bootstrap/css/bootstrap.min.css"}
    %link{:rel => :stylesheet, :href => "./bootstrap/css/bootstrap-theme.min.css"}
    %link{:rel => :stylesheet, :href => "./rickshaw.min.css"}
    %link{:rel => :stylesheet, :href => "./custom.css"}
    %title="tb platform"

  %body
    #wrap
      .navbar
        .navbar-inner
          %a.brand{ :href => "#" } Bank consuite
          %ul.nav.pull-right
            %li
              %a{ :href => "#" } Logout


      .span3
        %ul.nav.nav-list.well
          %li.nav-header menu
          %li
            %a{ :href => "#" } menu1
            %ul
              %li
                %a{ :href => "#" } sub menu1
          %li
            %a{ :href => "#" } menu2

      .span12
        %h1 Graph area
        .row
          .span4#line_graph
          .span4#bar_graph
            bar_graph
          .span4#filter_table
            line_graph2
        .row{ :style => "padding-top: 20px;" }
          .span6
            line_graph
          .span6
            bar_graph

    #footer
      .container
        %p.muted-credit ITP@2014


    %script{ :src => './jquery.min.js' }
    %script{ :src => './d3.v3.min.js' }
    %script{ :src => './d3.layout.min.js' }
    %script{ :src => './rickshaw.min.js' }
    %script{ :src => './bootstrap/js/bootstrap.min.js' }


:javascript
  // It shows weekly data
  var dataset = [{ x:0, y:10 },
                 { x:1, y:20 },
                 { x:2, y:18 },
                 { x:3, y:30 },
                 { x:4, y:22 },
                 { x:5, y:50 },
                 { x:6, y:70 }];
  var stacked_dataset = [{ x:0, y:8 },
                 { x:1, y:30 },
                 { x:2, y:10 },
                 { x:3, y:3 },
                 { x:4, y:1 },
                 { x:5, y:5 },
                 { x:6, y:20 }];
  var width = 300;
  var height = 150;

  var line_graph = new Rickshaw.Graph({
    element: document.querySelector("div#line_graph"),
    width: width,
    height: height,
    renderer: 'bar',
    series: [{
        color: 'steelblue',
        data: dataset,
        name: 'Taipei'
      },{
        color: 'lightblue',
        data: stacked_dataset,
        name: 'Japan'
    }]
  });

  var xAxis = new Rickshaw.Graph.Axis.Time({
    graph: line_graph
  });

  var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: line_graph
  });

  var hoverDetail = new Rickshaw.Graph.HoverDetail({
    graph: line_graph,
    xFormatter: function(x) { return x + "day" },
    yFormatter: function(y) { return y + " $"}
  });

  //  var yAxis = new Rickshaw.Graph.Axis.Y({
  //    graph: line_graph
  //  });

  line_graph.render();
